a{
   &:hover{
    opacity:$opacityHover;
   } 
   color:$colorHref;
   text-decoration: none;
}
li{
   list-style: none;

}

ul {
    @include flexCenter(column, 15px);
    background-color: white;
    flex-direction: column;
}

